.card_height{
    height: auto;
    width: 220px;
}

.picture_size {
  height: 305px;
  width: 205px;
  transition: transform 0.3s ease-in-out;
}

.ellipsis-text {
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_hover:hover {
  height: 350px;
  width: 260px;
  background: #b6b6b6;
  animation-name: scope_by_hover;
  animation-duration: 0.5s;
}

.glow-box {
  transition: box-shadow 0.3s ease-in-out;
}

  .glow-box:hover {
    box-shadow: 0 0 15px 5px rgba(52, 152, 219, 0.8);
    transform: scale(1.1);
  }

.save_star_over {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  padding-right: -1px;
  z-index: 2; 
}

.image-container {
  position: relative; 
  width: 100%;
}

.booksmarks {
  padding: 7px;
  margin: 7px;
  width: 30px;
  height: 30px;
  background-color: yellow; 
  mask-image: url("../../Resources/icons/bookmark-plus.svg");
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  transition: linear 0.3s ease-in-out;
}

  .booksmarks:hover {
    mask-image: url("../../Resources/icons/bookmark-plus-fill.svg");
    transform: scale(1.4);
  }

.delete {
  padding: 7px;
  margin: 7px;
  width: 30px;
  height: 30px;
  background-color: yellow;
  mask-image: url("../../Resources/icons/trash.svg");
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  transition: linear 0.3s ease-in-out;
}
  .delete:hover {
    mask-image: url("../../Resources/icons/trash.svg");
    transform: scale(1.4);
  }
