<div class="webkit_canter">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="w-50 align_center p-5 m-2">
    <label class="m-2"> Login</label><br />
    <input type="text" id="login" name="login" class="form-control w-50 input_inline m-2" ngModel /><br />
    <label>Password</label><br />
    <input type="text" id="password" name="password" class="form-control w-50 input_inline m-2" ngModel /><br />
    <button type="submit" class="btn btn-outline-primary m-2"> Login</button><br />
  <button type="button" (click)="goRegistration()" class="btn btn-outline-primary"> {{'REGISTRATION'| translate}}</button>
  </form>
  <button (click)="switchLanguage('en')">English</button>
  <button (click)="switchLanguage('ru')">Русский</button>
</div>
