
<div>

  <div>
    <div>
      <div class="d-flex flex-row-reverse">
        <div class="dropdown px-4">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-bs-toggle="dropdown" aria-expanded="false">
            Options
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Language</a></li>
            <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
          </ul>
        </div>

      </div>
    </div>
    <nav class="nav-container">
      <div class="site-description">
        <div class="w-50 d-flex justify-content-between border w-auto p-4 m-4">
          <div id="photo" class="w-25 border">
            photo
          </div>
          <div class="w-75 border">
            Description
          </div>
        </div>
      </div>
      <ul class="nav-menu justify-content-star">
        <li class="tab"><a [routerLink]="[{ outlets: { main_page_outlet: ['about'] } }]" routerLinkActive="active">About</a></li>
        <li class="tab"><a [routerLink]="[{ outlets: { main_page_outlet: ['films-search'] } }]" routerLinkActive="active">Films</a></li>
        <li class="tab"><a [routerLink]="[{ outlets: { main_page_outlet: ['films-saved'] } }]" routerLinkActive="active">Saved</a></li>
      </ul>
    </nav>
    <div class="content-container">
      <router-outlet name="main_page_outlet"></router-outlet>
    </div>
  </div>
</div>
