
<div>

  <div>
    <div>
      <div class="d-flex flex-row-reverse">
        <div class="dropdown px-4">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-bs-toggle="dropdown" aria-expanded="false">
            {{ 'OPTIONS' | translate}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item">Settings</a></li>
            <li><a class="dropdown-item" (click)="selectLangWindow()">Language</a></li>
            <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <nav class="nav-container">
      <div class="site-description">
        <div class="w-50 d-flex justify-content-around w-auto p-2 m-2">
          <div id="photo" class="photo-wrapper w-25 d-block">
            <div>
              <img src="images/Portfolio.jpg" alt="Моё фото" class="profile-photo" />
            </div>
            <div class="contact-links d-flex justify-content-between p-2 m-lg-4">
              <a href="https://www.linkedin.com/in/nikromw/" target="_blank" rel="noopener" class="contact-item">
                <img src="https://cdn-icons-png.flaticon.com/24/174/174857.png" alt="LinkedIn" />
                <span>LinkedIn</span>
              </a>
              <a href="https://www.karriere.at/" target="_blank" rel="noopener" class="contact-item">
                <img src="https://cdn-icons-png.flaticon.com/24/888/888879.png" alt="karriere.at" />
                <span>karriere.at</span>
              </a>
              <a href="https://github.com/nikromw" target="_blank" rel="noopener" class="contact-item">
                <img src="https://cdn-icons-png.flaticon.com/24/733/733553.png" alt="GitHub" />
                <span>GitHub</span>
              </a>
            </div>
          </div>
          <div class="text-block">
            <h2>{{ 'ABOUT_ME' | translate }}</h2>
            <p>
              {{ 'MAIN_PAGE_DESCRIPTION' | translate }}
            </p>
          </div>
        </div>
      </div>
      <ul class="nav-menu">
        <li class="tab">
          <a [routerLink]="[{ outlets: { main_page_outlet: ['about'] } }]" routerLinkActive="active">{{ 'ABOUT_TAB' | translate }}</a>
        </li>
        <li class="tab">
          <a [routerLink]="[{ outlets: { main_page_outlet: ['films-search'] } }]" routerLinkActive="active">{{ 'FILMS_TAB' | translate }}</a>
        </li>
        <li class="tab">
          <a [routerLink]="[{ outlets: { main_page_outlet: ['films-saved'] } }]" routerLinkActive="active">{{ 'SAVED_FILMS_TAB' | translate }}</a>
        </li>
      </ul>
    </nav>
    <div class="content-container">
      <router-outlet name="main_page_outlet"></router-outlet>
    </div>
  </div>
</div>
